
/* TEMEL AYARLAR */

:root {
    --primary-color: #e76f51;
    --secondary-color: #2a9d8f;
    --light-color: #f8f9fa;
    --dark-color: #6c757d;
    --max-width: 1100px;
    --white: #fff;
    --black: #000;
    --category-sports: #0079FF;
    --category-entertainment : #FF0060;
    --category-technology : #F6FA70;
    --category-economy : #00DFA2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    margin-bottom: .7rem;
    line-height: 1.3;
}

/* UTILS */

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

.btn {
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .4rem 1.6rem;
    text-align: center;
    border-radius: .6rem;
}

.btn:hover { opacity: 0.7; }
.btn-light { background-color: var(--light-color); color: var(--dark-color) !important;}
.btn-dark { background-color: var(--dark-color); color: var(--light-color) !important;}
.btn-primary { background-color: var(--primary-color); }
.btn-secondary { background-color: var(--secondary-color); }

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.bg-primary { background-color: var(--primary-color); color: var(--white);}
.bg-secondary { background-color: var(--secondary-color) !important; color: var(--white);}
.bg-light { background-color: var(--light-color); color: var(--dark-color);}
.bg-dark { background-color: var(--dark-color); color: var(--white);}

.category {
    display: inline-block;
    color: var(--white);
    font-size: 1rem;
    letter-spacing: 1px;
    padding: .4rem .6rem;
    border-radius: 15px;
    margin-bottom: .5rem;
}

.category-sports { background-color: var(--category-sports);}
.category-technology { background-color: var(--category-technology);}
.category-entertainment { background-color: var(--category-entertainment);}
.category-economy { background-color: var(--category-economy);}

.p-1 { padding: 0.4rem;}
.p-2 { padding: 0.5rem;}
.p-3 { padding: 0.6rem;}
.p-4 { padding: 0.8rem;}
.p-5 { padding: 1rem;}

.pt-1 { padding-top: 0.4rem;}
.pt-2 { padding-top: 0.5rem;}
.pt-3 { padding-top: 0.6rem;}
.pt-4 { padding-top: 0.8rem;}
.pt-5 { padding-top: 1rem;}

.py-1 { padding-top: 0.5rem; padding-bottom: 0.5rem;}
.py-2 { padding-top: 0.8rem; padding-bottom: 0.8rem;}
.py-3 { padding-top: 1rem; padding-bottom: 1rem;}
.py-4 { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.px-1 { padding-right: 0.5rem; padding-left: 0.5rem;}
.px-2 { padding-right: 0.8rem; padding-left: 0.8rem;}
.px-3 { padding-right: 1rem; padding-left: 1rem;}
.px-4 { padding-right: 1.6rem; padding-left: 1.6rem;}

.m-1 { margin: 0.4rem;}
.m-2 { margin: 0.5rem;}
.m-3 { margin: 0.6rem;}
.m-4 { margin: 0.8rem;}
.m-5 { margin: 1rem;}

.my-1 { margin-top: 0.5rem; margin-bottom: 0.5rem;}
.my-2 { margin-top: 0.8rem; margin-bottom: 0.8rem;}
.my-3 { margin-top: 1rem; margin-bottom: 1rem;}
.my-4 { margin-top: 1.6rem; margin-bottom: 1.6rem;}

.mx-1 { margin-right: 0.5rem; margin-left: 0.5rem;}
.mx-2 { margin-right: 0.8rem; margin-left: 0.8rem;}
.mx-3 { margin-right: 1rem; margin-left: 1rem;}
.mx-4 { margin-right: 1.6rem; margin-left: 1.6rem;}

.card {
    background-color: var(--white);
    padding: 1rem;
}

.card-primary {
    background-color: var(--primary-color);
    padding: 1rem;
}

.card-secondary {
    background-color: var(--secondary-color);
    padding: 1rem;
}

.card-light {
    background-color: var(--light-color);
    padding: 1rem;
}

.card-dark {
    background-color: var(--dark-color);
    padding: 1rem;
}

/* NAV-BAR */

#main-nav {
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 3;
}
#main-nav .container {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    padding: 1rem;
    align-items: center;
}
#main-nav .logo {
    justify-self: start;
    align-self: center;
    width: 65px;
}
#main-nav .navigation {
    justify-self: start;
    align-self: center;
    display: flex;
    align-items: center;
}
#main-nav .navigation li a {
    padding: 0.6rem;
    font-weight: bold;
}
#main-nav .navigation li a.active {
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 6px;
}
#main-nav .navigation li a:hover {
    background-color: var(--light-color);
    color: var(--dark-color);
}
#main-nav .social-icons {
    justify-self: end;
    align-self: center;
}
#main-nav .social-icons a:hover {
    opacity: 0.7;
}

/* HEADER */

#main-header {
    color: var(--white);
    background-color: #333;
    padding: 2rem;
    background: url(../IMG/rowing.jpeg) no-repeat center center/cover;
    position: relative;
    width: 100%;
}
#main-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black);
    opacity: 0.4;
}
#main-header .header-container {
    color: var(--white);
    height: 70vh;  
    position: relative;
    z-index: 2;    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}   

/* ARTICLES */

#main-articles .container h3:hover {
    opacity: 0.7;
}
#main-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

/* FOOTER */

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.3rem;
}
#main-footer img {
    width: 15rem;
}
#main-footer a {
    color: var(--white);
}
#main-footer a:hover {
    color: var(--primary-color);
}
#main-footer .footer-container input {
    width: 90%;
}
#main-footer .footer-container ul li {
    padding: .5rem 0;
    border-bottom: 1px solid #333;
    width: 90%;
}
#main-footer .footer-container > *:last-child {
    background-color: #333;
    grid-column: 1 / span 4;
    text-align: center;
}

/* ARTICLE PAGE */ 

#article .page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2.5rem;
    gap: 1.5rem;
}
.page-container > *:first-child {
    grid-row: 1 / span 3;
}
#article .card .meta {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--light-color);
    align-items: center;
}
#article #categories ul li {
    padding: .5rem 0;
    border-bottom: 1px solid #333;
}
#article #categories ul li a:hover {
    color: var(--secondary-color);
}